.card-container {
  border-radius: 10px;
  width: 350px;
  margin: 0;
  margin-right: 20px;
}

.card-container p {
  margin: 0;
  padding-left: 20px;
  padding-bottom: 10px;
}

.img-container {
  text-align: right;
  margin: 20px;
}

.img-card {
  width: 50px;
  height: auto;
}

.card-number {
  font-size: 32px;
  text-align: center;
  padding: 10px;
}

.exp-bank-card {
  display: flex;
}

.exp-bank-card p {
  margin: 0;
  margin-right: 5px;
}
